* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    padding: 20px;
}

.navbar {
    background: #69c8a0;
    width: 100%;
    padding: 18px 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 35px;
    height: 35px;
}

.brand {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.menu {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.login-btn {
    background: #000;
    color: #fff !important;
    padding: 8px 16px;
    border-radius: 10px;
}
