<footer class="app-footer">
    <div class="footer-content">
        <div class="footer-copyright footer-left">
            &copy; 2025 SmartGrader. All rights reserved.
        </div>

        <div class="footer-stack">
            <div class="footer-links"> 
                <a href="/about" class="footer-link-item">About Us</a>
                <a href="/support" class="footer-link-item">Support</a>
                <a href="/privacy" class="footer-link-item">Privacy Policy</a>
                <a href="/terms" class="footer-link-item">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>