<aside class="sidebar">
    <div class="sidebar-section">
        <ul class="nav-list">
            <li>
                <a href="#" class="nav-link active">
                    <i class='bx bx-grid-alt'></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class='bx bx-help-circle'></i>
                    <span>Questions Page</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class='bx bx-check-shield'></i>
                    <span>Test Grader</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class='bx bx-file'></i>
                    <span>Test Generator</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="sidebar-section">
        <ul class="nav-list">
            <li>
                <a href="#" class="nav-link">
                    <i class='bx bx-search'></i>
                    <span>Search</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class='bx bx-cog'></i>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class='bx bx-support'></i>
                    <span>Help</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class='bx bx-user'></i>
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </div>
</aside>