<aside class="sidebar">
    <div class="sidebar-section">
        <ul class="nav-list">
            <li>
                <a href="#" class="nav-link active">
                    <i class='bx bx-grid-alt'></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class='bx bx-check-shield'></i>
                    <span>Test Grader</span>
                </a>
            </li>
            {% if request.user.is_authenticated and request.user.profile.role == 'teacher' %}
            <li>
                <a href="/tests/" class="nav-link">
                    <i class='bx bx-grid-alt'></i>
                    <span>Tests</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link" data-open="test-generator">
                    <i class='bx bx-file'></i>
                    <span>Test Generator</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="sidebar-section">
        <ul class="nav-list">
            <li>
                <a href="#" class="nav-link">
                    <i class='bx bx-search'></i>
                    <span>Search</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class='bx bx-cog'></i>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class='bx bx-support'></i>
                    <span>Help</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class='bx bx-user'></i>
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
